* {
    bg-col:  #111122;
    bg-col-light: #111133;
    border-col: #12121c;
    selected-col: #ddddee;
    blue: #ccccee;
    fg-col: #D9E0EE;
    fg-col2: #111122;
    grey: #ccccee;
    width: 600;
    border-radius: 5px;
}
