* {
    border: none;
    border-radius: 0;
    font-family: Hanazono;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #eedcc1;
}

tooltip {
	background: #2b2b2f;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #0f0f0f;
	}

#workspaces button {
    padding: 5px 10px;
    color: #eedcc1;
}

#workspaces button.focused {
    color: #0f0f0f;
    background-color: #eedcc1;
    border-radius: 15px;
}

#workspaces button.active {
    color: #2b2b2f;
    background-color: #eedcc1;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: #eedcc1;
	color: #0f0f0f;
	border-radius: 15px;
}

#window, #custom-date, #clock, #battery, #pulseaudio, #network, #workspaces, #language, #custom-media, #custom-power {
	background-color: #2b2b2f;
	padding: 5px 10px;
	margin: 5px 0px;
}

#workspaces {
	background-color: #2b2b2f;
	border-radius: 15px 0px 0px 15px;
	font-family: mononoki Nerd Font;
}

#clock {
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
}

#battery.warning:not(.charging) {
    background-color: #c49ea0;
    color: #2b2b2f;
}

#network {
	border-radius: 0px 0px 0px 0px;
}

#custom-media {
    border-radius: 15px;
    margin-right: 20px;
    padding: 5px 15px;
}

#custom-power {
    font-size: 20px;
    border-radius: 15px;
    margin-left: 20px;
    padding: 5px 15px;
}

#custom-power:hover{
    background-color: #ef6787
}

#window {
    background: #2b2b2f;
}
